@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

@keyframes fadeIn {
  0% {opacity: 0; transform: translate(0, -3vh); -webkit-transform: translate(0, -3vh);}
  100% {opacity: 1;}
}

body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

div {
  padding: 7vh 0;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  font-size: 22vh;
  text-align: center;
  line-height: 1em;
}

h2 {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  font-size: 17vh;
  text-align: center;
  line-height: 1em;

}

h3 {
  font-family: 'Bebas Neue', cursive;
  color: #383838;
  font-size: 2.8em;
}

p, ul {
  font-family: 'Roboto', sans-serif;
  color: #383838;
  font-size: 1.4em;
  line-height: 1.6em;
  list-style-type: square;
}

button {
  border: 5px solid #ffc400;
  color: #fff;
  background-color: #ffc400;
  padding: .7em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.8em;
  margin: 0 .9em;

  transition-duration: 0.2s;
}

button:hover {
  color: #ffc400;
  background-color: #fff;
}

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: baseline;
}

/*navigation bar*/

.navbar {
  overflow: hidden;
  background-color: #383838;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
}

.navbar .nav-logo {
  float: left;
  background: #383838;
  padding: 9.5px 4.5%;
}

.navbar .nav-logo:hover {
  background: #383838;
}

.nav-logo img{
  width: 160px;
}

.nav-logo img:hover{
  filter: brightness(0) invert(1);
}

.navbar a {
  font-family: 'Bebas Neue', cursive;
  float: right;
  display: block;
  color: #fff;
  text-align: center;
  padding: 21px 4.5%;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #ffc400;
  color: #383838;
}

/* landing page */

.full {
  background-image: url("./img/main.png");
  height: 90vh;
  padding: 10% 0 0 0;
}

.full div{
  padding: 0;
}

.arrow {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10vh;
  text-align: center;
  animation: fadeIn 1.8s;
  -webkit-animation: fadeIn 1.8s;
}

.arrow img{
  width: 7.5vh;
  transition: .2s;
}

.arrow img:hover{
  margin-top: -.5vh;
  width: 8vh;
}

/* banner styles */
#why {
  background-image: url("./img/why.png");
}

#how {
  background-image: url("./img/how.png");
}

#what {
  background-image: url("./img/what.jpg");
}

/* content styles */

.content div{
  width: 60em;
  margin: auto;
}

.content img{
  width: 60em;
}

.row {
  display: flex;
}

.compact div{
  padding: 0;
}

.column {
  flex: 50%;
  padding: 0;
}

.column img{
  width: 27em;
}

.right {
  float:right;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footers */

.footer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #383838;
  padding: 7vh 0;
}

.footer p {
  color: #717171;
  font-size: 1em;
  margin: 2em;
}

.footer a {
  margin: .7em;
}

.footer img {
  width:2em;
  transition: .2s;
}

.footer img:hover {
  filter: brightness(1.5);
}
